#content {
  padding: 15px;
}

#content > div {
  overflow: hidden;
}

#content > div > div > div {
  background-color: rgba(0,0,0, 0.25);
  border-radius: 4px;
}

#content .collumn {
  float: left;
}

.hidden {
  display: none;
}
