@import url(elements.css);

@import url(tabs.css);
@import url(content.css);

@import url(tabs/operation.css);
@import url(tabs/diagnostics.css);
@import url(tabs/setup.css);
@import url(tabs/io.css);
@import url(tabs/charts.css);
@import url(tabs/about.css);

@font-face {
  font-family: 'Open Sans Light';
  font-weight: 300;
  src: url(../assets/fonts/OpenSans/OpenSans-Light-webfont.woff) format('woff');
}

body {
  margin: 0; padding: 0;

  font-family: "Open Sans Light";
  font-size: 15px;
  color: rgba(255,255,255, 0.6);

  line-height: normal;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  cursor: default;
}

#container {
  width: 980px; height: 250px;
  background-color: #2c3e50;
  overflow: hidden;
}

::-moz-selection {
  background: #ecf0f1;
  color: #3498db;
}

::selection {
  background: #ecf0f1;
  color: #3498db;
}

select {
  max-width: 100px;
}