#tabs {
  height: 40px;

  background-color: #34495e;
  color: rgba(255,255,255, 0.65);

  overflow: hidden;
}

#tabs div {
  height: 100%;
  padding: 4px 13px;

  float: left;

  transition: background-color 0.2s;
}

#tabs div:hover {
  background-color: #2c3e50;
}

#tabs div h2 {
  margin: 0; padding: 0 4px 1px;

  font-size: 20px; font-weight: normal;
  letter-spacing: -0.5px;
}

#tabs div[selected] h2 {
  border-bottom: 2px solid #c0392b;
}
